OpenRiaServices.DomainServices.Client/Test/SilverlightVb/Service References/Services/TestServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:60000/Services/TestServices.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:60000/Services/TestServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestServices_CreateNewDatabase_InputMessage">
    <wsdl:part name="parameters" element="CreateNewDatabase" />
  </wsdl:message>
  <wsdl:message name="TestServices_CreateNewDatabase_OutputMessage">
    <wsdl:part name="parameters" element="CreateNewDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="TestServices_ReleaseNewDatabase_InputMessage">
    <wsdl:part name="parameters" element="ReleaseNewDatabase" />
  </wsdl:message>
  <wsdl:message name="TestServices_ReleaseNewDatabase_OutputMessage">
    <wsdl:part name="parameters" element="ReleaseNewDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="TestServices_RestartApp_InputMessage">
    <wsdl:part name="parameters" element="RestartApp" />
  </wsdl:message>
  <wsdl:message name="TestServices_RestartApp_OutputMessage">
    <wsdl:part name="parameters" element="RestartAppResponse" />
  </wsdl:message>
  <wsdl:portType name="TestServices">
    <wsdl:operation name="CreateNewDatabase">
      <wsdl:input wsaw:Action="urn:TestServices/CreateNewDatabase" message="TestServices_CreateNewDatabase_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestServices/CreateNewDatabaseResponse" message="TestServices_CreateNewDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseNewDatabase">
      <wsdl:input wsaw:Action="urn:TestServices/ReleaseNewDatabase" message="TestServices_ReleaseNewDatabase_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestServices/ReleaseNewDatabaseResponse" message="TestServices_ReleaseNewDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartApp">
      <wsdl:input wsaw:Action="urn:TestServices/RestartApp" message="TestServices_RestartApp_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestServices/RestartAppResponse" message="TestServices_RestartApp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>